.DataAccess-Window{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.DataAccess-StatsUploadDelete-Container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.DataAccess-Buttons-Container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.DataAccess-Icon-Buttons{
    color: black;
    /* width: 30px;
    height: 30px; */
    font-size: 30px;
    margin: 5px;
}
.material-symbols-outlined{
    font-size: inherit;
}
.DataAccess-Text-Buttons{
    color: black;
    border: 2px solid black;
    border-radius: 6px;
    width: 30px;
    height: 30px;
    margin: 5px;
}
.DataAccess-Center{
    display:flex;
    align-items: center;
    justify-content: center;
}
.DataAccess-Text{
    font-size: 8.5px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}
.DataAccess-Delete{
    color: red;
    border: 2px solid red;
    border-radius: 6px;
    width: 30px;
    height: 30px;
    margin-top: 30px;
    /* text-align: center; */
}
 
.DataAccess-Table{ /* th = table header, td = table cell, tr = table row */
    display:flex;
    overflow-y: auto;
    max-height : 250px;
    width: 100%;
    border: 2px solid black;
    border-radius: 6px;
    /* padding: 4px; padding = space around elements content */
 }
    
th, td, tr  {
    border-left: 1px solid black; 
    border-collapse: collapse;
    padding: 2px 4px; /*padding = space around elements content*/
}
.DataAccess-Table-Data{
    max-height : 250px;
    border-collapse: collapse; /*sets borders as shared vs two separate walls for adjacent cells*/
    /* border-radius: 6px; */
}

.DataAccess-Table-Data th{
    position: sticky; 
    top: 0; 
    background-color: white;

}

.DataAccess-Table-Data tr:nth-child(even){
    background-color: #f2f2f2;
}   
.DataAccess-Table-Data tr:hover{
    background-color: #ddd;
}