.fa {
	cursor: pointer;
}

.guide {
	color: whitesmoke;
}

.AreaCapture-text {
	font-size: 16px;

	margin: 0;
}

.AreaCapture-subtext {
	font-size: 10px;
	font-style: italic;
}

.AreaCapture-btn-container {
	width: 45%;
}

.AreaCapture-btn {
	width: 100%;
	min-height: 22px;
	
	padding: 5px;

	border-width: 1px; 
	border-style: solid; 
	border-color: white;
	border-radius: 5px;

	cursor: pointer;
}

.AreaCapture-incrementYear-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#AreaCapture-subtractYear-btn {
	background-color: #f5bc42;
}

#AreaCapture-addYear-btn {
	background-color: #71b54c;
}

.AreaCapture-input {
	width: 7ch;
}