input[type = "range"] {
	width: 85%;
}

.image-adjustment-slider-div {
	display: flex;
	height: 22px;
	justify-content: space-between;
	align-items: center;
}

.imageInput {
	width: 55px; 
	height: 20px; 
	margin-right: 5px;
	font-size: medium;
}

.image-adjustment-slider-label {
	text-align:left; 
	display:block; 
	margin-bottom: 0px; 
	padding-top: 3px;
	font-size: 14px;
}

.image-adjustment-button {
	margin: 8px;
	padding: 0px; 
	height: 24px; 
	width: 25%; 
	font-size: 16px; 
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	border-radius: 6px;
	background-color: #c6ccd7;
}

.image-adjustment-default-div {
	display: flex; 
	align-items: center; 
	height: 28px;
	justify-content: space-between;
}

.image-adjustment-subtext {
	font-style: italic;
	color: #7d7d7d;
	font-size: 13px;
	margin: 0;
}
/* 
.image-adjustment-button {
	border: 1px solid black;
	border-radius: 5px;
	margin-right: 0px; 
	margin-top: 5px; 
	margin-bottom: 5px; 
	padding: 0px; 
	height: 25px; 
	width: 48px; 
	font-size: 14px; 
	display:block;
	background-color: #bec9cc;
} */