input[type = "range"] {
	width: 85%;
}

.image-adjustment-slider-div {
	display: flex;
	height: 22px;
	justify-content: space-between;
	align-items: center;
}

.imageInput {
	width: 55px; 
	height: 20px; 
	margin-right: 5px;
	font-size: medium;
}

.image-adjustment-slider-label {
	text-align:left; 
	display:block; 
	margin-bottom: 0px; 
	padding-top: 3px;
	font-size: 14px;
}

#image-adjustment-invert-button {
	margin-right: 0px; 
	margin-top: 5px; 
	margin-bottom: 5px; 
	padding: 0px; 
	height: 25px; 
	width: 50px; 
	font-size: 14px; 
	display:block;
}

#image-adjustment-reset-button {
	margin-right: 0px; 
	margin-top: 5px; 
	margin-bottom: 5px; 
	padding: 0px; 
	height: 25px; 
	width: 50px; 
	font-size: 14px; 
	display:block;
}